* {
    padding: 0;
    margin: 0;   
}
body{
    height: 100vh;
    background-image: url(./imagens\ background/fundo.png);
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: 100% 100%;
}
.menu ul li{
    display: inline-block;
}
.menu{
    position: fixed;
    top: 0px;
    right: 0;
}
img{
    max-width: 100%;  
    display: block;
}
.produtos{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}
.produtos > div{
    flex: 1 1 100px;
    margin: 70px;
}
.produtos{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}
h2{
    color: white;
}
h1{
    color: orange;
    text-align: center;
}
footer{
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding: 40px;
    color: white;
    text-align: center;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
