* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    color:#f4cf0a;
    font-family: 'Yuji Syuku', serif;
    
}


ul {
    list-style: none;
    font-size: 25px;
    font-style: italic
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    background-image: url(./progam.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 60px;
}

.container .name h5 {
    font-size: 25px;
}