* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    color:rgb(238, 255, 0);
}

ul {
    list-style: none;
    font-size: 20px;
    font-style: inherit; 
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    background-image: url(./imagens\ background/fundo.png);
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: 100% 100%;
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 30px;
    color: yellow;
}

.container .name h5 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;   
}

.produtos{
    text-align: center;
}

#arrow {
    font-size: 30px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation {
    transition: 300ms;
}

.rotate {
    transform: rotate(180deg);
    transition: 600ms;
}

.active {
    display: block !important;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Road Rage', cursive;
    font-size: 35px;
    font-style: oblique;
    color: rgb(255, 255, 255);
}

.form {
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
}

.form input {
    width: 50%;
    border: ;
    border-radius: 10px 10px 10px 10px ;
}

.form button {
    width: 15%;
    padding: 1px 1px;
    background-color: rgb(0, 0, 0);
    color: rgb(247, 247, 247);
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 300ms;
    border-radius: 5px 5px 5px 5px;
    margin-left: -4px;
    margin-top: 5px;
}
.form p {
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.form button:hover{
    background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 768px) {
    .form {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .container .name h1 {
        font-size: 30px;
    }
    .container .name h5 {
        font-size: 15px;
    }
    #about p {
           max-width: 80%;
           text-align: justify;
    }
}

.sobre{
    text-align: center;
        
}
.sobre h1{
    color: orangered;
}
.sobre p{
    color: white;
}
.sobre{
    margin-top: 200px;
}
  