* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    color:rgb(255, 255, 255)  
}

ul {
    list-style: none;
    font-size: 20px;
    font-style: italic   
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    background-image: url(./375426.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 200px;
}

header ul {
    display: flex;
}

header ul li{
    padding: 15px;
    border-bottom: 1px solid #fff;
}

header ul li a:hover{
    color:darkgoldenrod
}

header ul li a:hover{
    transition: 300ms;
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 90px;
}

.container .name h5 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;   
}

#arrow {
    font-size: 30px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation {
    transition: 300ms;
}

.rotate {
    transform: rotate(180deg);
    transition: 600ms;
}

.active {
    display: block !important;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Road Rage', cursive;
    font-size: 35px;
    font-style: oblique;
    color: rgb(252, 134, 0);
}

.form {
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
}

.form input {
    width: 50%;
    border: none;
    border-radius: 5px 5px 5px 5px ;
}

.form button {
    width: 15%;
    padding: 1px 1px;
    background-color: rgb(64, 68, 68);
    color: #000;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 300ms;
    border-radius: 5px 5px 5px 5px;
    margin-left: -4px;
    margin-top: 5px;
}

.form button:hover{
    background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 480px) {
    
}
