* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    color:rgb(176, 183, 190)  
}

ul {
    list-style: none;
    font-size: 25px;
    font-style: italic   
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    background-image: url(./progam.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

header ul {
    display: flex;
}

header ul li{
    padding: 15px;
}

.container {
    text-align: center;
}

.container .name h1 {
    font-size: 60px;
}

.container .name h5 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;   
}

#about p {
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Road Rage', cursive;
    font-size: 35px;
    font-style: oblique;
    color: orangered;
}

.form {
    width: 40%;
    margin: 0 auto;
}

.form input {
    width: 50%;
}

button input {
    width: 15%;
}
