* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    font-size: 20px;
    font-style: inherit; 
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    background-image: url(./imagens\ background/fundo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.id1{
    color: white;
}
.container {
    text-align: center;
}

.sub h1{
    color: rgb(255, 255, 255);
    
}

.produtos{
    text-align: center;
}
.titulos{
    display: flex;
    flex-wrap: wrap;
    max-width: 1550px;
    margin: auto;
    text-align: center;
}
.titulos >div{
    flex: 1 1 100px;
    margin: 10px;
}
.titulos h1{
    color: orange;
}
.sobre{
    text-align: center;
        
}
.sobre h1{
    color: orangered;
}
.sobre p{
    color: white;
}
.sobre{
    margin-top: 200px;
}
footer{
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding: 40px;
    color: white;
    text-align: center;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
