* {
    padding: 0;
    margin: 0;   
}
body{
    background-image: url(./imagens\ background/fundo.png);
    background-size: 100% 100%;
}
.menu ul li{
    display: inline-block;
}
.menu{
    position: fixed;
    top: 0px;
    right: 0;
}
img{
    max-width: 100%;  
    display: block;
}
.produtos{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}
.produtos > div{
    flex: 1 1 100px;
    margin: 50px;
}
.produtos{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;   
}
.id{
    font-size: 16px;
}
.id2{
    font-size: 16px;
}
p{
   color: white;
}
h6{
    color: white;
}
.id4{
    color: orange;
    text-align: center;
}